<div id='sidebar' class="flex" data-controller='sidebar'>
  <div
    id="inativeSidebar"
    class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden hidden"
    data-action="click->sidebar#showMenu"
  ></div>
  <div id='sidebarLinks' class="fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transition duration-300 transform bg-gray-900 lg:translate-x-0 lg:static lg:inset-0 -translate-x-full ease-in" data-sidebar-target="sidebar" data-action="sidebar#showMenu">
    <div class="flex items-center justify-center mt-8">
      <div class="flex items-center">
        <span class="mx-2 text-2xl font-bold text-white">
          Borboletos
        </span>
      </div>
    </div>
    <nav class="mt-10">
      <li class="hidden relative list-none mt-4 duration-200 border-l-4 <%= ( ['/billets'].include?(request.path) ? 'bg-gray-600 bg-opacity-25 text-gray-100 border-gray-100' : 'border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100') %>">
        <div class="icon_links flex items-center justify-between cursor-pointer" data-action="click->sidebar#showSideBarSubMenu">
          <a class="flex items-center no-underline pointer-events-none" href="#">
            <div class="flex items-center justify-center h-12 w-16 text-center leading-10 text-xl">
            <%= content_tag :svg, class: 'w-5 h-full', viewBox: '0 0 24 24', fill: 'none' do %>
              <%= content_tag :path, '', d: 'M22 8a.76.76 0 0 0 0-.21v-.08a.77.77 0 0 0-.07-.16.35.35 0 0 0-.05-.08l-.1-.13-.08-.06-.12-.09-9-5a1 1 0 0 0-1 0l-9 5-.09.07-.11.08a.41.41 0 0 0-.07.11.39.39 0 0 0-.08.1.59.59 0 0 0-.06.14.3.3 0 0 0 0 .1A.76.76 0 0 0 2 8v8a1 1 0 0 0 .52.87l9 5a.75.75 0 0 0 .13.06h.1a1.06 1.06 0 0 0 .5 0h.1l.14-.06 9-5A1 1 0 0 0 22 16V8zm-10 3.87L5.06 8l2.76-1.52 6.83 3.9zm0-7.72L18.94 8 16.7 9.25 9.87 5.34zM4 9.7l7 3.92v5.68l-7-3.89zm9 9.6v-5.68l3-1.68V15l2-1v-3.18l2-1.11v5.7z', fill: 'currentColor' %>
            <% end %>
            </div>
            <span class="link_name text-lg font-normal">Links Agrupados </span>
          </a>
          <div class="arrow flex items-center justify-center text-xl text-center w-20 pointer-events-none">
            <img alt="chevron-down" class="h-7 transform duration-300" id="chevron_down" src="/assets/chevron-down-dc252972322de2b05d84ad9e3f72b9081e3e9afe936f673a60393515dfdb560b.png">
          </div>
        </div>
        <ul class="sub-menu pt-1.5 pr-1.5 pb-4 pl-16 bg-gray-800 mt-1 text-sm space-y-1 hidden" id="sub_menu">
          <li class="py-0.5 px-0">
            <%= link_to "Home", root_path, class: "whitespace-nowrap opacity-60 hover:opacity-100 transition ease-in duration-200"%>
          </li>
          <li class="py-0.5 px-0">
            <%= link_to "Boletos", root_path, class: "whitespace-nowrap opacity-60 hover:opacity-100 transition ease-in duration-200"%>
          </li>
        </ul>
      </li>
      <%= link_to billets_path, class: 'flex items-center px-6 py-2 mt-4 duration-200 border-l-4 ' + (request.path == '/billets' ? "bg-gray-600 bg-opacity-25 text-gray-100 border-gray-100" : "border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100") do %>
        <%= content_tag :svg, class: 'w-5 h-full', viewBox: '0 0 24 24', fill: 'none' do %>
          <%= content_tag :path, '', d: 'M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z', fill: 'currentColor' %>
        <% end %>
        <%= content_tag :span, 'Boletos', class: 'mx-4' %>
      <% end %>
    </nav>
  </div>
</div>
